<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Meus interesses</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding="true" class="has-header">
        <ion-list>
            <button ion-item *ngFor="let interesse of interesses" (click)="itemSelected(interesse, usuario)">
                <ion-card>
                <ion-card-header>
                    <img [src]="helper.obterFoto(interesse.PropostaSocial.Fotos)"/>
                    <div class="card-header-title-group">
        
                    <div class="u-alinhado-ao-centro">
                    <div class="titulo titulo-3 u-remover-margem u-remover-padding u-texto-branco">
                        {{ interesse.PropostaSocial.Solicitante.Nome }} EE Domingos Gonçalves Gomes
                    </div>
                    <p class="titulo titulo-2 u-caixa-alta u-texto-laranja">Precisa da sua ajuda para:</p>
                    <h2 class="titulo titulo-2 u-remover-margem u-remover-padding u-texto-branco">
                        {{ interesse.PropostaSocial.Necessidade }}
                    </h2>
                    <p class="u-margem">
                        <span>
                            <img src="assets/imgs/map.svg" alt="" class="imagem imagem-16 u-inline local">
                        </span>
                        <span class="u-block u-texto-branco"><strong>{{ interesse.PropostaSocial.Distancia }} 300m</strong> de você</span>
                    </p>
                    </div>
                </div>
                </ion-card-header>
                <ion-card-content>
                    <p class="titulo u-caixa-alta">Ajudando você pode:</p>
                    <ul class="list-card">
                    <li class="list-card-item" *ngFor="let b of interesse.PropostaSocial.Beneficios" >{{ b }}</li>
                    </ul>
                    <button ion-button full color="secondary">Me interessei</button>
                </ion-card-content>
                </ion-card>
            </button>
        </ion-list>
</ion-content>