.u-caixa-alta
    text-transform: uppercase

.u-alinhado-ao-centro
    text-align: center !important

    img
        margin-left: auto
        margin-right: auto

.u-alinhado-a-direita
    text-align: right !important

    img
        margin-left: auto

.u-alinhado-a-esquerda
    text-align: left !important

    img
        margin-right: auto

.u-alinhado-justificado
    text-align: justify !important