<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!mostrarBarraDePesquisa"><ion-icon name="menu"></ion-icon></button>
    <ion-title *ngIf="!mostrarBarraDePesquisa">Guardiões do Bem</ion-title>
    <ion-searchbar #searchbar (ionInput)="pesquisar($event)"
                   *ngIf="mostrarBarraDePesquisa" 
                   [showCancelButton]="true" 
                   (ionCancel)="togglePesquisa()"></ion-searchbar>
    <ion-buttons end *ngIf="!mostrarBarraDePesquisa">
      <button ion-button icon-only (click)="togglePesquisa()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <p> Olá {{ usuario.id + " " + usuario.nome }}</p>
      <button ion-item *ngFor="let troca of trocas" (click)="itemSelected(troca, usuario)">
        <ion-card>
          <ion-card-header>
            <img [src]="helper.obterFoto(troca.Fotos)"/>
            <div>
              <p>Benefícios:</p>
              <ul *ngFor="let b of troca.Beneficios" >
                <li>{{ b }}</li>
              </ul>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div>
              <p>Em troca de:</p>
              {{ troca.Necessidade }}
            </div>
            <div>
              <div>
                <p>Solicitante:</p>
                {{ troca.Solicitante.Nome }}
              </div>
            </div>
            <div>
              <span>{{ troca.Distancia }}</span> de você
            </div>
          </ion-card-content>
        </ion-card>
      </button>
    </ion-list>

</ion-content>
