<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!mostrarBarraDePesquisa"><ion-icon name="menu"></ion-icon></button>
    <ion-title *ngIf="!mostrarBarraDePesquisa">
      <img src="assets/imgs/logo/guardioes-do-bem.svg" alt="Guardiões do Bem" class="imagem imagem-192">
    </ion-title>
    <ion-searchbar #searchbar (ionInput)="pesquisar($event)"
                   *ngIf="mostrarBarraDePesquisa" 
                   [showCancelButton]="true" 
                   (ionCancel)="togglePesquisa()"></ion-searchbar>
    <ion-buttons end *ngIf="!mostrarBarraDePesquisa">
      <button ion-button icon-only (click)="togglePesquisa()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <p> Olá {{ usuario.id + " " + usuario.nome }}</p>
      <button ion-item *ngFor="let troca of trocas" (click)="itemSelected(troca, usuario)">
        <ion-card>
          <ion-card-header>
            <p class="titulo u-caixa-alta">Benefícios:</p>
            <img [src]="helper.obterFoto(troca.Fotos)"/>
            <div class="card-header-title-group">
              <ul class="list-card">
                <li class="list-card-item" *ngFor="let b of troca.Beneficios" >{{ b }}</li>
              </ul>
            </div>
          </ion-card-header>
          <ion-card-content>
            <p class="subtitulo subtitulo 6">Em troca de:</p>
            <h2 class="titulo titulo-2">
              {{ troca.Necessidade }}
            </h2>
            <div>
              <div>
                <p>Solicitante:</p>
                {{ troca.Solicitante.Nome }}
              </div>
            </div>
            <div>
              <span>{{ troca.Distancia }}</span> de você
            </div>
          </ion-card-content>
        </ion-card>
      </button>
    </ion-list>

</ion-content>
