<ion-header>
  <ion-navbar>
    <ion-searchbar (ionInput)="pesquisar($event)"></ion-searchbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <p> Olá {{ usuario.id + " " + usuario.nome }}</p>
      <button ion-item *ngFor="let troca of trocas" (click)="itemSelected(troca, usuario)">
        <ion-card>
          <ion-card-header>
            <img [src]="helper.obterFoto(troca.Fotos)"/>
            <div>
              <p>Benefícios:</p>
              <ul *ngFor="let b of troca.Beneficios" >
                <li>{{ b }}</li>
              </ul>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div>
              <p>Em troca de:</p>
              {{ troca.Necessidade }}
            </div>
            <div>
              <div>
                <p>Solicitante:</p>
                {{ troca.Solicitante.Nome }}
              </div>
            </div>
            <div>
              <span>{{ troca.Distancia }}</span> de você
            </div>
          </ion-card-content>
        </ion-card>
      </button>
    </ion-list>

</ion-content>
