.card
    margin: 0
    width: 100%
    border: 0 solid transparent

    .card-header
        margin: 0
        padding: 0
        background-color: $cor-preta
        position: relative

        img
            opacity: .3
            background-blend-mode: multiply

        .local
            opacity: 1
            vertical-align: middle

        & > div
            background-color: $cor-branca

    .card-header-title-group
        position: absolute
        z-index: 2
        color: $cor-branca
        top: 50%
        left: 0
        background-color: transparent !important
        box-sizing: border-box
        width: 100%
        transform: translateY(-50%)